<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dwr</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/index.jsp</url-pattern>
      <include-coda>/common/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
</web-app>